########################
# Python 编译产物
########################
__pycache__/
*.py[cod]
*$py.class

########################
# 虚拟环境
########################
.venv/

########################
# 日志和临时文件
########################
*.log
*.tmp
*.swp
*.swo

########################
# 编辑器 / IDE
########################

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

########################
# 系统文件
########################
.DS_Store
Thumbs.db
Desktop.ini

########################
# Jupyter 笔记本
########################
.ipynb_checkpoints/